body{
	background : #000 url(fondmammif.jpg) no-repeat center fixed;
	-webkit-background-size : cover;
	-moz-background-size : cover;
}
.container{
	height : 400px;
	width : 1330px;
	margin-top : 20px;
	margin-left : 10px;
	
	display : grid;
	
	grid-template-columns : 300px 300px 300px auto;
	grid-template-rows : 50px 210px 210px 100px;
	
	gap : 20px;
}
.item1{
	grid-column : 1 / 5 ;
	background-color : rgba(0,250,8,0.5);
	font : normal bold 40px/100% Garamond, Times New Roman;
	padding-left : 320px;
	box-shadow : 10px 10px 10px #000;
}
.tete{
	text-color : rgb(0,51,0);
	text-align : center;
	letter-spacing : 15px;
}
.motfaune{
	color : rgb(149,27,11);
}
.item2{
	grid-column : 1 / 3 ;
	grid-row : 2 / 4;
	padding : 0 4px 10px;
	background-color : rgba(255,255,255,0.3);
	box-shadow : 10px 10px 7px #000;
	font : normal normal 20px/150% Tahoma, Arial, sans-serif;
	text-align : justify;
}

.item3{
	grid-column : 3 / 5 ;
	grid-row : 2 / 4;
	background-color : rgba(255,255,255,0.3);
	box-shadow : 10px 10px 7px #000;
	font : normal normal 20px/150% Tahoma, Arial, sans-serif;
	text-align : justify;
	display : grid ; 
	
	grid-template-columns : 338px auto;
	grid-template-rows : 20px auto ;
}
.petittab1{
	grid-column : 1 / 3;
	padding-left : 35px;
}
.item4{
	grid-column : 1 / 5;
	background-color : rgba(90,40,0,0.3);
	font : normal normal 15px/150% Tahoma, Arial, sans-serif;
	padding : 50px 20px 0 0;
}
.copyright{
	color : #ffffff;
}