body{
	margin  : 0;
	padding : 0;
	background : #000 url(../fondmammif.jpg) no-repeat center fixed;
	-webkit-background-size : cover;
	-moz-background-size : cover;
}
.container{
	width : 1366px;
	height : 653px;
	
	display : grid;
	
	grid-template-columns : 400px auto 420px;
	grid-template-rows : 653px ;
}
.content{
	grid-column : 2 / 3;
	background-color : rgba(125,100,40,0.44);
	box-shadow : 10px 10px 14px #000;
	display : grid;
	
	grid-template-columns : 250px auto;
	grid-template-rows : 60px 280px auto;
}
.header{
	grid-column : 1/3;
	padding-left : 5px;
	font : normal bold 40px/100% Times New Roman, Garamond;
}
.content1{
	grid-row : 2/span 2;
	font : normal normal 20px/109% Tahoma, Arial;
	padding-left : 5px;
	text-align : justify;
}
.content2{
	grid-column : 2/3;
	text-align : right;
	font : normal normal 19px/100% Tahoma, Arial;
	padding-top: 24px;
}
.img2{
	margin-top : 0px;
	padding : 10px 20px 0 0;
}
